// Variables
// Variables
$website-width: 80rem;
// ----------------------
$Red50: #FFEBEE;
$Red100:#FFCDD2;
$Red200:#EF9A9A;
$Red300:#E57373;
$Red400:#EF5350;
// ---------------------
$Teal50:#E0F2F1;
$Teal100:#B2DFDB;
$Teal200:#80CBC4;
$Teal300:#4DB6AC;
$Teal400:#26A69A;
$Teal800:#00695C;
$A200:#64FFDA;
$A400:#1DE9B6;
// -------------------
$Blue-Gray50:#ECEFF1;
$Blue-Gray100:#CFD8DC;
$Blue-Gray200:#B0BEC5;
$Blue-Gray400:#979797;
// -------------------------
$Purple300: #BA68C8;
$Purple400: #AB47BC;
$Purple500: #9C27B0;
// -----------------------------
$website-color: #1A1D1F;
$website-backgroun-colorDark: #111315;
$website-backgroun-color:#F4F4F4;
// -----------------------------
$primarylight:#E1BEE7;
$color:#040203;
$timing:.2s;
